
{%extends "base.html"%}
{%block content%}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/recipetable.css') }}">

</head>


<h1 class="pt-5 pb-2">List of Recipes</h1>
    <table class="table " id="recipedatabase">
        <thead >
          <tr>
              <th>Number</th>
              <th>Recipe name</th>
              <th>Cuisine</th>
              <th>Course</th>
              <th>Diet</th>
              <th>Difficulty</th>
              <th>Actions</th>
          </tr>
        </thead>

          
          <tbody>
          <!-- autoincrement ids for recipes for reincrementing after a row deletion so it always is in order -->
          {% set ids = namespace(nrCrt=0) %}
          <!-- for loop to get all the recipes inserted into the database -->
              {% for recipe in recipes %}
                  {% set ids.nrCrt = ids.nrCrt + 1 %}
          <tr>
              <td>{{ ids.nrCrt }}</td>
              <td><a href={{url_for("views.ShowRecipe", recipeid = recipe.recipe_name)}}>{{ recipe.recipe_name }}</a></td>
              <td>{{ recipe.cuisines_id }}</td>
              <td>{{recipe.courses_id}}</td>
              <td>{{ recipe.diets_id }}</td>
              <td>{{ recipe.difficulties_id }}</td>
              
              <td>
                <a href={{url_for("views.EditRow", editRecipe = recipe.recipe_name)}}>
                  <button class="buttonUpdate" type="button">Update</button>
                </a>
                <a href={{url_for("views.DeleteRow", deletedRecipe = recipe.recipe_name)}}>
                    <button  class ="buttonUpdate" type="button">Delete </button>
                </a>
                  
              </td>
          </tr>
                {% endfor %}
          {{ids.items }}
        </tbody>
      </table>  
{%endblock%}
   
{%block scripts%}
    <script>
    $(document).ready(function () {
      $('#recipedatabase').DataTable();});
    </script>
{%endblock%}