
{%extends "base.html"%}
{%block content%}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/recipetable.css') }}">

</head>


<h1 class="pt-5 pb-2">List of Recipes</h1>
    <table class="table " id="recipedatabase">
        <thead >
          <tr>
              <th>Number</th>
              <th>Recipe name</th>
              <th>Cuisine</th>
              <th>Diet</th>
              <th>Difficulty</th>
          </tr>
        </thead>

          <!-- for loop to get all the recipes inserted into the database -->
          <tbody>
          {% for recipe in recipes %}
          <tr>
              <td>{{ recipe.recipe_id }}</td>
              <td><a href={{url_for("views.ShowRecipe",recipeid = recipe.recipe_name)}}>{{ recipe.recipe_name }}</a></td>
              <td>{{ recipe.cuisines_id }}</td>
              <td>{{ recipe.diets_id }}</td>
              <td>{{ recipe.difficulties_id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>  
{%endblock%}
   
{%block scripts%}
    <script>
    $(document).ready(function () {
      $('#recipedatabase').DataTable();});
    </script>
{%endblock%}