.form
{
padding-top: 20px;
color:white;
font-size: large;
}

#submit{
    background: crimson;
    color: white;
    border-style: outset;
    border-color: crimson;
    height: 50px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;;
    text-shadow: none;
    margin-left: 42%;
      
}